name-template: 'v$RESOLVED_VERSION'
tag-template: 'v$RESOLVED_VERSION'
# categories:
#   - title: 'Features'
#     labels:
#       - 'feature'
#       - 'enhancement'
#   - title: 'Bug Fixes'
#     labels:
#       - 'fix'
#       - 'bugfix'
#       - 'bug'
#   - title: 'Maintenance'
#     label: 'maintenance'
#   - title: 'Documentation'
#     label: 'docs'
change-template: '- $TITLE @$AUTHOR (#$NUMBER)'
change-title-escapes: '\<*_&' # You can add # and @ to disable mentions, and add ` to disable code blocks.
version-resolver:
  major:
    labels:
      - 'major'
  minor:
    labels:
      - 'feature'
      - 'enhancement'
  patch:
    labels:
      - 'fix'
      - 'bugfix'
      - 'bug'
      - 'docs'
      - 'maintenance'
  default: patch
template: |
  ## Changes

  $CHANGES

  ## Docker Image
  - `xyctruth/profiler:v$RESOLVED_VERSION`
