name: Deployment

concurrency: development

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: 'Image Version'
        required: true
        default: ''

jobs:

  deployment:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Get the version
        id: get_version
        run: |
          echo $GITHUB_EVENT_NAME

          if [[ $GITHUB_EVENT_NAME == "workflow_dispatch" ]]; then
            VERSION=${{ github.event.inputs.version }}
          fi

          if [[ $GITHUB_EVENT_NAME == "release" ]]; then
            VERSION=${{ github.event.release.tag_name }}
          fi
          echo ::set-output name=VERSION::${VERSION}
      - uses: actions/checkout@v1
      - uses: mirzakhany/helm-install-action@v1
        with:
          k8s_config: ${{ secrets.KUBE_CONFIG_DATA }}

      - name: deploy app
        shell: bash
        run: helm upgrade profiler-dev charts/profiler --install --wait --namespace=profiler-system --set=image.tag=${{ steps.get_version.outputs.VERSION }} --values=charts/profiler/values.dev.yaml  --atomic
