name: Server-Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  server-test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Echo os
        run: |
          echo ${{runner.os}}

      - name: Install Linux Graphviz
        if: ${{runner.os == "Linux"}}
        run: sudo apt-get install -f graphviz

      - name: Install MacOS Graphviz
        if: ${{runner.os == "macOS"}}
        run: sudo brew install -f graphviz

      - name: Test
        run: make test

      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./cover.out
          flags: unittests
          name: codecov-umbrella


