name: Server-Test

on:
  push:
    branches: [ master ]
    paths-ignore:
      - "./charts/**"
      - "**.md"
      - "./ui/**"
  pull_request:
    branches: [ master ]
    paths-ignore:
      - "./charts/**"
      - "**.md"
      - "./ui/**"

jobs:
  server-test:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Checkout code
        uses: actions/checkout@v3

      - name: go mod package cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.17-${{ hashFiles('tests/go.mod') }}

      - name: Echo os
        run: |
          echo ${{runner.os}}

      - name: Install Linux Graphviz
        if: ${{runner.os == 'Linux'}}
        run: sudo apt-get install -f graphviz

      - name: Install MacOS Graphviz
        if: ${{runner.os == 'macOS'}}
        run: brew install -f graphviz

      - name: Test
        run: make test

      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./cover.out
          flags: unittests
          name: codecov-umbrella


